<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ucof -->
      <package
            uri="https://gitlab.com/ucof/ucof.de/model/v001/ucof"
            class="ucof.UcofPackage"
            genModel="model/ucof.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ucof -->
      <package
            uri="https://gitlab.com/ucof/ucof.de/model/v001/ucof/common/enums"
            class="ucof.common.enums.EnumsPackage"
            genModel="model/ucof.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ucof -->
      <package
            uri="https://gitlab.com/ucof/ucof.de/model/v001/ucof/common/etypes"
            class="ucof.common.etypes.EtypesPackage"
            genModel="model/ucof.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ucof -->
      <package
            uri="https://gitlab.com/ucof/ucof.de/model/v001/ucof/common/edata"
            class="ucof.common.edata.EdataPackage"
            genModel="model/ucof.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ucof -->
      <package
            uri="https://gitlab.com/ucof/ucof.de/model/v001/ucof/devices"
            class="ucof.devices.DevicesPackage"
            genModel="model/ucof.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ucof -->
      <package
            uri="https://gitlab.com/ucof/ucof.de/model/v001/ucof/devices/devicetypes"
            class="ucof.devices.devicetypes.DevicetypesPackage"
            genModel="model/ucof.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ucof -->
      <package
            uri="https://gitlab.com/ucof/ucof.de/model/v001/ucof/devices/devicetypes/a653components"
            class="ucof.devices.devicetypes.a653components.A653componentsPackage"
            genModel="model/ucof.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ucof -->
      <package
            uri="https://gitlab.com/ucof/ucof.de/model/v001/ucof/devices/devicetypes/a653components/a653partition"
            class="ucof.devices.devicetypes.a653components.a653partition.A653partitionPackage"
            genModel="model/ucof.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ucof -->
      <package
            uri="https://gitlab.com/ucof/ucof.de/model/v001/ucof/devices/devicetypes/a653components/Hhalthmanagement"
            class="ucof.devices.devicetypes.a653components.healthmanagement.HealthmanagementPackage"
            genModel="model/ucof.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ucof -->
      <package
            uri="https://gitlab.com/ucof/ucof.de/model/v001/ucof/devices/functions"
            class="ucof.devices.functions.FunctionsPackage"
            genModel="model/ucof.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ucof -->
      <package
            uri="https://gitlab.com/ucof/ucof.de/model/v001/ucof/Functions/Routing"
            class="ucof.devices.functions.routing.RoutingPackage"
            genModel="model/ucof.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ucof -->
      <package
            uri="https://gitlab.com/ucof/ucof.de/model/v001/ucof/devices/ports"
            class="ucof.devices.ports.PortsPackage"
            genModel="model/ucof.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ucof -->
      <package
            uri="https://gitlab.com/ucof/ucof.de/model/v001/ucof/communication"
            class="ucof.communication.CommunicationPackage"
            genModel="model/ucof.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ucof -->
      <package
            uri="https://gitlab.com/ucof/ucof.de/model/v001/ucof/communication/arinc429"
            class="ucof.communication.arinc429.Arinc429Package"
            genModel="model/ucof.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ucof -->
      <package
            uri="https://gitlab.com/ucof/ucof.de/model/v001/ucof/communication/arinc825"
            class="ucof.communication.arinc825.Arinc825Package"
            genModel="model/ucof.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ucof -->
      <package
            uri="https://gitlab.com/ucof/ucof.de/model/v001/ucof/communication/basedonethernet"
            class="ucof.communication.basedonethernet.BasedonethernetPackage"
            genModel="model/ucof.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ucof -->
      <package
            uri="https://gitlab.com/ucof/ucof.de/model/v001/ucof/communication/basedonethernet/arinc664"
            class="ucof.communication.basedonethernet.arinc664.Arinc664Package"
            genModel="model/ucof.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ucof -->
      <package
            uri="https://gitlab.com/ucof/ucof.de/model/v001/ucof/communication/basedonwired"
            class="ucof.communication.basedonwired.BasedonwiredPackage"
            genModel="model/ucof.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ucof -->
      <package
            uri="https://gitlab.com/ucof/ucof.de/model/v001/ucof/communication/connectors"
            class="ucof.communication.connectors.ConnectorsPackage"
            genModel="model/ucof.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ucof -->
      <package
            uri="https://gitlab.com/ucof/ucof.de/model/v001/ucof/communication/configECIC"
            class="ucof.communication.configECIC.ConfigECICPackage"
            genModel="model/ucof.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ucof -->
      <package
            uri="https://gitlab.com/ucof/ucof.de/model/v001/ucof/communication/configECIC/streamTypes"
            class="ucof.communication.configECIC.streamTypes.StreamTypesPackage"
            genModel="model/ucof.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ucof -->
      <package
            uri="https://gitlab.com/ucof/ucof.de/model/v001/ucof/communication/configECIC/packageStrategyTypes"
            class="ucof.communication.configECIC.packageStrategyTypes.PackageStrategyTypesPackage"
            genModel="model/ucof.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ucof -->
      <package
            uri="https://gitlab.com/ucof/ucof.de/model/v001/ucof/communication/comDevices"
            class="ucof.communication.comDevices.ComDevicesPackage"
            genModel="model/ucof.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ucof -->
      <package
            uri="https://gitlab.com/ucof/ucof.de/model/v001/ucof/communication/i2c"
            class="ucof.communication.i2c.I2cPackage"
            genModel="model/ucof.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ucof -->
      <package
            uri="https://gitlab.com/ucof/ucof.de/model/v001/ucof/assignments"
            class="ucof.assignments.AssignmentsPackage"
            genModel="model/ucof.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ucof -->
      <package
            uri="https://gitlab.com/ucof/ucof.de/model/v001/ucof/assignments/database"
            class="ucof.assignments.database.DatabasePackage"
            genModel="model/ucof.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ucof -->
      <package
            uri="https://gitlab.com/ucof/ucof.de/model/v001/ucof/targets"
            class="targets.TargetsPackage"
            genModel="model/ucof.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ucof -->
      <package
            uri="https://gitlab.com/ucof/ucof.de/model/v001/ucof/targets/powergrid"
            class="targets.powergrid.PowergridPackage"
            genModel="model/ucof.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ucof -->
      <package
            uri="https://gitlab.com/ucof/ucof.de/model/v001/ucof/targets/rdc"
            class="targets.rdc.RdcPackage"
            genModel="model/ucof.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ucof -->
      <package
            uri="https://gitlab.com/ucof/ucof.de/model/v001/ucof/targets/adc"
            class="targets.adc.AdcPackage"
            genModel="model/ucof.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ucof -->
      <package
            uri="https://gitlab.com/ucof/ucof.de/model/v001/ucof/targets/sheild"
            class="targets.sheild.SheildPackage"
            genModel="model/ucof.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ucof -->
      <package
            uri="https://gitlab.com/ucof/ucof.de/model/v001/ucof/targets/motorcontroller"
            class="targets.motorcontroller.MotorcontrollerPackage"
            genModel="model/ucof.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ucof -->
      <package
            uri="https://gitlab.com/ucof/ucof.de/model/v001/ucof/targets/cantransceiver"
            class="targets.cantransceiver.CantransceiverPackage"
            genModel="model/ucof.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ucof -->
      <package
            uri="https://gitlab.com/ucof/ucof.de/model/v001/ucof/targets/hallsensor"
            class="targets.hallsensor.HallsensorPackage"
            genModel="model/ucof.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ucof -->
      <package
            uri="https://gitlab.com/ucof/ucof.de/model/v001/ucof/targets/cpn"
            class="targets.cpn.CpnPackage"
            genModel="model/ucof.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ucof -->
      <package
            uri="https://gitlab.com/ucof/ucof.de/model/v001/ucof/targets/intrepidpowergrid"
            class="targets.intrepidpowergrid.IntrepidpowergridPackage"
            genModel="model/ucof.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ucof -->
      <package
            uri="https://gitlab.com/ucof/ucof.de/model/v001/ucof/targets/intrepidgateway"
            class="targets.intrepidgateway.IntrepidgatewayPackage"
            genModel="model/ucof.genmodel"/>
   </extension>

</plugin>
