<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ucof -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="ucof.presentation.UcofModelWizardID"
            name="%_UI_UcofModelWizard_label"
            class="ucof.presentation.UcofModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/UcofModelFile.gif">
         <description>%_UI_UcofModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ucof -->
      <editor
            id="ucof.presentation.UcofEditorID"
            name="%_UI_UcofEditor_label"
            icon="icons/full/obj16/UcofModelFile.gif"
            extensions="ucof"
            class="ucof.presentation.UcofEditor"
            contributorClass="ucof.presentation.UcofActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ucof -->
      <editor
            id="ucof.common.etypes.presentation.EtypesEditorID"
            name="%_UI_EtypesEditor_label"
            icon="icons/full/obj16/EtypesModelFile.gif"
            extensions="etypes"
            class="ucof.common.etypes.presentation.EtypesEditor"
            contributorClass="ucof.common.etypes.presentation.EtypesActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ucof -->
      <editor
            id="ucof.devices.presentation.DevicesEditorID"
            name="%_UI_DevicesEditor_label"
            icon="icons/full/obj16/DevicesModelFile.gif"
            extensions="devices"
            class="ucof.devices.presentation.DevicesEditor"
            contributorClass="ucof.devices.presentation.DevicesActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ucof -->
      <editor
            id="ucof.devices.devicetypes.presentation.DevicetypesEditorID"
            name="%_UI_DevicetypesEditor_label"
            icon="icons/full/obj16/DevicetypesModelFile.gif"
            extensions="devicetypes"
            class="ucof.devices.devicetypes.presentation.DevicetypesEditor"
            contributorClass="ucof.devices.devicetypes.presentation.DevicetypesActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ucof -->
      <editor
            id="ucof.devices.devicetypes.a653components.presentation.A653componentsEditorID"
            name="%_UI_A653componentsEditor_label"
            icon="icons/full/obj16/A653componentsModelFile.gif"
            extensions="a653components"
            class="ucof.devices.devicetypes.a653components.presentation.A653componentsEditor"
            contributorClass="ucof.devices.devicetypes.a653components.presentation.A653componentsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ucof -->
      <editor
            id="ucof.devices.devicetypes.a653components.a653partition.presentation.A653partitionEditorID"
            name="%_UI_A653partitionEditor_label"
            icon="icons/full/obj16/A653partitionModelFile.gif"
            extensions="a653partition"
            class="ucof.devices.devicetypes.a653components.a653partition.presentation.A653partitionEditor"
            contributorClass="ucof.devices.devicetypes.a653components.a653partition.presentation.A653partitionActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ucof -->
      <editor
            id="ucof.devices.devicetypes.a653components.healthmanagement.presentation.HealthmanagementEditorID"
            name="%_UI_HealthmanagementEditor_label"
            icon="icons/full/obj16/HealthmanagementModelFile.gif"
            extensions="healthmanagement"
            class="ucof.devices.devicetypes.a653components.healthmanagement.presentation.HealthmanagementEditor"
            contributorClass="ucof.devices.devicetypes.a653components.healthmanagement.presentation.HealthmanagementActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ucof -->
      <editor
            id="ucof.devices.functions.presentation.FunctionsEditorID"
            name="%_UI_FunctionsEditor_label"
            icon="icons/full/obj16/FunctionsModelFile.gif"
            extensions="functions"
            class="ucof.devices.functions.presentation.FunctionsEditor"
            contributorClass="ucof.devices.functions.presentation.FunctionsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ucof -->
      <editor
            id="ucof.devices.functions.routing.presentation.RoutingEditorID"
            name="%_UI_RoutingEditor_label"
            icon="icons/full/obj16/RoutingModelFile.gif"
            extensions="routing"
            class="ucof.devices.functions.routing.presentation.RoutingEditor"
            contributorClass="ucof.devices.functions.routing.presentation.RoutingActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ucof -->
      <editor
            id="ucof.devices.ports.presentation.PortsEditorID"
            name="%_UI_PortsEditor_label"
            icon="icons/full/obj16/PortsModelFile.gif"
            extensions="ports"
            class="ucof.devices.ports.presentation.PortsEditor"
            contributorClass="ucof.devices.ports.presentation.PortsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ucof -->
      <editor
            id="ucof.communication.presentation.CommunicationEditorID"
            name="%_UI_CommunicationEditor_label"
            icon="icons/full/obj16/CommunicationModelFile.gif"
            extensions="communication"
            class="ucof.communication.presentation.CommunicationEditor"
            contributorClass="ucof.communication.presentation.CommunicationActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ucof -->
      <editor
            id="ucof.communication.arinc429.presentation.Arinc429EditorID"
            name="%_UI_Arinc429Editor_label"
            icon="icons/full/obj16/Arinc429ModelFile.gif"
            extensions="arinc429"
            class="ucof.communication.arinc429.presentation.Arinc429Editor"
            contributorClass="ucof.communication.arinc429.presentation.Arinc429ActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ucof -->
      <editor
            id="ucof.communication.arinc825.presentation.Arinc825EditorID"
            name="%_UI_Arinc825Editor_label"
            icon="icons/full/obj16/Arinc825ModelFile.gif"
            extensions="arinc825"
            class="ucof.communication.arinc825.presentation.Arinc825Editor"
            contributorClass="ucof.communication.arinc825.presentation.Arinc825ActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ucof -->
      <editor
            id="ucof.communication.basedonethernet.presentation.BasedonethernetEditorID"
            name="%_UI_BasedonethernetEditor_label"
            icon="icons/full/obj16/BasedonethernetModelFile.gif"
            extensions="basedonethernet"
            class="ucof.communication.basedonethernet.presentation.BasedonethernetEditor"
            contributorClass="ucof.communication.basedonethernet.presentation.BasedonethernetActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ucof -->
      <editor
            id="ucof.communication.basedonethernet.arinc664.presentation.Arinc664EditorID"
            name="%_UI_Arinc664Editor_label"
            icon="icons/full/obj16/Arinc664ModelFile.gif"
            extensions="arinc664"
            class="ucof.communication.basedonethernet.arinc664.presentation.Arinc664Editor"
            contributorClass="ucof.communication.basedonethernet.arinc664.presentation.Arinc664ActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ucof -->
      <editor
            id="ucof.communication.basedonwired.presentation.BasedonwiredEditorID"
            name="%_UI_BasedonwiredEditor_label"
            icon="icons/full/obj16/BasedonwiredModelFile.gif"
            extensions="basedonwired"
            class="ucof.communication.basedonwired.presentation.BasedonwiredEditor"
            contributorClass="ucof.communication.basedonwired.presentation.BasedonwiredActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ucof -->
      <editor
            id="ucof.communication.connectors.presentation.ConnectorsEditorID"
            name="%_UI_ConnectorsEditor_label"
            icon="icons/full/obj16/ConnectorsModelFile.gif"
            extensions="connectors"
            class="ucof.communication.connectors.presentation.ConnectorsEditor"
            contributorClass="ucof.communication.connectors.presentation.ConnectorsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ucof -->
      <editor
            id="ucof.communication.configECIC.presentation.ConfigECICEditorID"
            name="%_UI_ConfigECICEditor_label"
            icon="icons/full/obj16/ConfigECICModelFile.gif"
            extensions="configecic"
            class="ucof.communication.configECIC.presentation.ConfigECICEditor"
            contributorClass="ucof.communication.configECIC.presentation.ConfigECICActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ucof -->
      <editor
            id="ucof.communication.configECIC.streamTypes.presentation.StreamTypesEditorID"
            name="%_UI_StreamTypesEditor_label"
            icon="icons/full/obj16/StreamTypesModelFile.gif"
            extensions="streamtypes"
            class="ucof.communication.configECIC.streamTypes.presentation.StreamTypesEditor"
            contributorClass="ucof.communication.configECIC.streamTypes.presentation.StreamTypesActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ucof -->
      <editor
            id="ucof.communication.configECIC.packageStrategyTypes.presentation.PackageStrategyTypesEditorID"
            name="%_UI_PackageStrategyTypesEditor_label"
            icon="icons/full/obj16/PackageStrategyTypesModelFile.gif"
            extensions="packagestrategytypes"
            class="ucof.communication.configECIC.packageStrategyTypes.presentation.PackageStrategyTypesEditor"
            contributorClass="ucof.communication.configECIC.packageStrategyTypes.presentation.PackageStrategyTypesActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ucof -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="ucof.communication.comDevices.presentation.ComDevicesModelWizardID"
            name="%_UI_ComDevicesModelWizard_label"
            class="ucof.communication.comDevices.presentation.ComDevicesModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ComDevicesModelFile.gif">
         <description>%_UI_ComDevicesModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ucof -->
      <editor
            id="ucof.communication.comDevices.presentation.ComDevicesEditorID"
            name="%_UI_ComDevicesEditor_label"
            icon="icons/full/obj16/ComDevicesModelFile.gif"
            extensions="comdevices"
            class="ucof.communication.comDevices.presentation.ComDevicesEditor"
            contributorClass="ucof.communication.comDevices.presentation.ComDevicesActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ucof -->
      <editor
            id="ucof.communication.i2c.presentation.I2cEditorID"
            name="%_UI_I2cEditor_label"
            icon="icons/full/obj16/I2cModelFile.gif"
            extensions="i2c"
            class="ucof.communication.i2c.presentation.I2cEditor"
            contributorClass="ucof.communication.i2c.presentation.I2cActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ucof -->
      <editor
            id="ucof.assignments.presentation.AssignmentsEditorID"
            name="%_UI_AssignmentsEditor_label"
            icon="icons/full/obj16/AssignmentsModelFile.gif"
            extensions="assignments"
            class="ucof.assignments.presentation.AssignmentsEditor"
            contributorClass="ucof.assignments.presentation.AssignmentsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ucof -->
      <editor
            id="ucof.assignments.database.presentation.DatabaseEditorID"
            name="%_UI_DatabaseEditor_label"
            icon="icons/full/obj16/DatabaseModelFile.gif"
            extensions="database"
            class="ucof.assignments.database.presentation.DatabaseEditor"
            contributorClass="ucof.assignments.database.presentation.DatabaseActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ucof -->
      <editor
            id="targets.presentation.TargetsEditorID"
            name="%_UI_TargetsEditor_label"
            icon="icons/full/obj16/TargetsModelFile.gif"
            extensions="targets"
            class="targets.presentation.TargetsEditor"
            contributorClass="targets.presentation.TargetsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ucof -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="targets.powergrid.presentation.PowergridModelWizardID"
            name="%_UI_PowergridModelWizard_label"
            class="targets.powergrid.presentation.PowergridModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PowergridModelFile.gif">
         <description>%_UI_PowergridModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ucof -->
      <editor
            id="targets.powergrid.presentation.PowergridEditorID"
            name="%_UI_PowergridEditor_label"
            icon="icons/full/obj16/PowergridModelFile.gif"
            extensions="powergrid"
            class="targets.powergrid.presentation.PowergridEditor"
            contributorClass="targets.powergrid.presentation.PowergridActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ucof -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="targets.rdc.presentation.RdcModelWizardID"
            name="%_UI_RdcModelWizard_label"
            class="targets.rdc.presentation.RdcModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RdcModelFile.gif">
         <description>%_UI_RdcModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ucof -->
      <editor
            id="targets.rdc.presentation.RdcEditorID"
            name="%_UI_RdcEditor_label"
            icon="icons/full/obj16/RdcModelFile.gif"
            extensions="rdc"
            class="targets.rdc.presentation.RdcEditor"
            contributorClass="targets.rdc.presentation.RdcActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ucof -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="targets.adc.presentation.AdcModelWizardID"
            name="%_UI_AdcModelWizard_label"
            class="targets.adc.presentation.AdcModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AdcModelFile.gif">
         <description>%_UI_AdcModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ucof -->
      <editor
            id="targets.adc.presentation.AdcEditorID"
            name="%_UI_AdcEditor_label"
            icon="icons/full/obj16/AdcModelFile.gif"
            extensions="adc"
            class="targets.adc.presentation.AdcEditor"
            contributorClass="targets.adc.presentation.AdcActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ucof -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="targets.sheild.presentation.SheildModelWizardID"
            name="%_UI_SheildModelWizard_label"
            class="targets.sheild.presentation.SheildModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SheildModelFile.gif">
         <description>%_UI_SheildModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ucof -->
      <editor
            id="targets.sheild.presentation.SheildEditorID"
            name="%_UI_SheildEditor_label"
            icon="icons/full/obj16/SheildModelFile.gif"
            extensions="sheild"
            class="targets.sheild.presentation.SheildEditor"
            contributorClass="targets.sheild.presentation.SheildActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ucof -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="targets.motorcontroller.presentation.MotorcontrollerModelWizardID"
            name="%_UI_MotorcontrollerModelWizard_label"
            class="targets.motorcontroller.presentation.MotorcontrollerModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MotorcontrollerModelFile.gif">
         <description>%_UI_MotorcontrollerModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ucof -->
      <editor
            id="targets.motorcontroller.presentation.MotorcontrollerEditorID"
            name="%_UI_MotorcontrollerEditor_label"
            icon="icons/full/obj16/MotorcontrollerModelFile.gif"
            extensions="motorcontroller"
            class="targets.motorcontroller.presentation.MotorcontrollerEditor"
            contributorClass="targets.motorcontroller.presentation.MotorcontrollerActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ucof -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="targets.cantransceiver.presentation.CantransceiverModelWizardID"
            name="%_UI_CantransceiverModelWizard_label"
            class="targets.cantransceiver.presentation.CantransceiverModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CantransceiverModelFile.gif">
         <description>%_UI_CantransceiverModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ucof -->
      <editor
            id="targets.cantransceiver.presentation.CantransceiverEditorID"
            name="%_UI_CantransceiverEditor_label"
            icon="icons/full/obj16/CantransceiverModelFile.gif"
            extensions="cantransceiver"
            class="targets.cantransceiver.presentation.CantransceiverEditor"
            contributorClass="targets.cantransceiver.presentation.CantransceiverActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ucof -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="targets.hallsensor.presentation.HallsensorModelWizardID"
            name="%_UI_HallsensorModelWizard_label"
            class="targets.hallsensor.presentation.HallsensorModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/HallsensorModelFile.gif">
         <description>%_UI_HallsensorModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ucof -->
      <editor
            id="targets.hallsensor.presentation.HallsensorEditorID"
            name="%_UI_HallsensorEditor_label"
            icon="icons/full/obj16/HallsensorModelFile.gif"
            extensions="hallsensor"
            class="targets.hallsensor.presentation.HallsensorEditor"
            contributorClass="targets.hallsensor.presentation.HallsensorActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ucof -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="targets.cpn.presentation.CpnModelWizardID"
            name="%_UI_CpnModelWizard_label"
            class="targets.cpn.presentation.CpnModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CpnModelFile.gif">
         <description>%_UI_CpnModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ucof -->
      <editor
            id="targets.cpn.presentation.CpnEditorID"
            name="%_UI_CpnEditor_label"
            icon="icons/full/obj16/CpnModelFile.gif"
            extensions="cpn"
            class="targets.cpn.presentation.CpnEditor"
            contributorClass="targets.cpn.presentation.CpnActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ucof -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="targets.intrepidpowergrid.presentation.IntrepidpowergridModelWizardID"
            name="%_UI_IntrepidpowergridModelWizard_label"
            class="targets.intrepidpowergrid.presentation.IntrepidpowergridModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/IntrepidpowergridModelFile.gif">
         <description>%_UI_IntrepidpowergridModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ucof -->
      <editor
            id="targets.intrepidpowergrid.presentation.IntrepidpowergridEditorID"
            name="%_UI_IntrepidpowergridEditor_label"
            icon="icons/full/obj16/IntrepidpowergridModelFile.gif"
            extensions="intrepidpowergrid"
            class="targets.intrepidpowergrid.presentation.IntrepidpowergridEditor"
            contributorClass="targets.intrepidpowergrid.presentation.IntrepidpowergridActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ucof -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="targets.intrepidgateway.presentation.IntrepidgatewayModelWizardID"
            name="%_UI_IntrepidgatewayModelWizard_label"
            class="targets.intrepidgateway.presentation.IntrepidgatewayModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/IntrepidgatewayModelFile.gif">
         <description>%_UI_IntrepidgatewayModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ucof -->
      <editor
            id="targets.intrepidgateway.presentation.IntrepidgatewayEditorID"
            name="%_UI_IntrepidgatewayEditor_label"
            icon="icons/full/obj16/IntrepidgatewayModelFile.gif"
            extensions="intrepidgateway"
            class="targets.intrepidgateway.presentation.IntrepidgatewayEditor"
            contributorClass="targets.intrepidgateway.presentation.IntrepidgatewayActionBarContributor">
      </editor>
   </extension>

</plugin>
